/*
verison:	beta
author:		Joelson de Abreu
email:		joelsondeabreu@gmail.com
*/
@import "reset.css";
*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	margin:0;
	outline:0 none;
	padding:0;
	vertical-align:baseline;
	color:#333;
}
a{
	text-decoration:none;
	color:#ffc757;
}
a:hover{
	text-decoration:underline;
}
body {
  background:#FFF;
}
h1 {
	color:#437353;
  font-size: 2.4em;
	text-align:center;
	text-shadow:#CCC 2px 1px 0;
}
p {
  margin: 1em 0;
	font-size:1.3em;
}
#header {
  height:150px;
	background:#f9f9f9 url(../images/logo.png) no-repeat center center;
	border-bottom:1px solid #437353;
}
#footer {
  font-size:11px;
  clear: both;
	color:#CCC;
}
body {
  text-align: center; 
  min-width: 920px;
}
#wrapper{
  width:80%;
	background:#FFF;
  margin: 0 auto; 
  text-align: left;
}
#wrapper a img{
	float:right;
}
span{
	color:#437353;
	font-weight:bold;
	text-shadow:#CCC 2px 1px 0;
}