/*
verison: beta
author: Joelson de Abreu
email: joelsondeabreu@gmail.com
*/
@import "reset.css";
*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	margin:0;
	outline:0 none;
	padding:0;
	vertical-align:baseline;
	color:#333;
}
a{
	text-decoration:none;
	color:#999;
}
a:hover{
	text-decoration:none;
	color:#333;
}
body {
  background:#FFF;
}
h1 {
  font-size: 2.4em;
  font-weight: normal;
}
h1, h2, p {
  margin: 1em 0;
}
#header {
  height: 150px;
  background: #BBB;
}
#header h1{
	margin:0;
	position:relative;
  left:-100000px;
}
#footer {
  padding: 1px 20px;
  font-size:11px;
  text-align:center;
  clear: both;
}
body {
  text-align: center; 
  min-width: 920px;
}
#wrapper{
  width: 85%;
	background:#FFF;
  margin: 0 auto; 
  text-align: left;
}
#content { 
  width: 100%; 
  float: left;
  padding-top:20px;
  padding-bottom: 20px;
}