<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>EventeX</title>
<link href="/media/stylesheets/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="header">
		<h1>Bem-vindo ao EventeX!</h1>
	</div>
	<div id="wrapper">
		<p>O evento mias sensacional do ano depois do Dev in Rio!</p>

		<p>Você não pode perder esta oportunidade!</p>

		<p>Abertura das inscrições em 12/02/2011.</p>

		<p>Para Dúvidas e mais informações entre em contato com eventex@eventex.com.br</p>
	</div>
	<div id="footer">
		&copy 2011 EventeX. some rights reserved.
	</div>
</body>
</html>